<!doctype html>
<html ng-app="{%= appName %}">
<head>
    <title>{%= appName %}</title>
    <meta name="description" content="{%= description %}">

    <meta charset="utf-8">

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div class="container" ng-view=""></div>

    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src='js/filters/camelcase.js'></script>
</body>
</html>