#main {
    width: 500px;
    margin: 40px 0;
}

#main input {
    display: block;
    width: 500px;
    margin-bottom: 20px;
    font-size: 18px;
}

#main legend {
    font-size: 36px;
    font-weight: bold;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
}

#main .alert {
    max-width: 500px;
    word-wrap: break-word;
    margin-bottom: 20px;
}
