<div id="main">
    <form>
        <fieldset>
            <legend>{%= name %}</legend>
            <alert ng-repeat="alert in alerts" type="alert.type" close="hideAlert()">
                Yeah! Your submission &quot;<strong>{{alert.msg | camelCase}}</strong>&quot; has been approved!
            </alert>
            <input id="textInput" type="text" placeholder="Hey! Type something …" ng-model="textInput">
            <button type="submit" class="btn" ng-disabled="!textInput || textInput.length == 0" ng-click="submit(textInput)">Submit</button>
        </fieldset>
    </form>
</div>